/* Core fonts */
.webFont_1 {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Initial margin-padding */
*{
    margin: 0;
    padding: 0;
}


/* Page layout */



/* Common styles */

/* Font-weights */
.semiBold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.extraBold{
    font-weight: 800;
}

/* Button */
.primaryBtn_1{
    padding: 17px 24px;
    font-size: 20px;
    border: 1px solid rgba(13, 19, 33, 1);
    border-radius: 8px;
    background-color: white;
}
.primaryBtn_2{
    color: white;
    background-color: rgba(13, 19, 33, 1);
}
.learnBtn{
    padding: 12px 20px;
    border-radius: 0;
}
p{
    line-height: 26px;
}
.txtColor{
    color: rgba(13, 19, 33, 1);
}

/* Centering */
.txtCenter{
    text-align: center;
}


/* HTML skeleton styles */

/* Header styles */
header{
    margin-bottom: 74px;
}

/* Navbar styles */
nav{
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50%;
}
nav h1{
    font-size: 28px;
}

/* Banner styles */
.banner{
    margin-top: 36px;
    padding: 36px 0 45px;
    background: url("../assets/Hero-bg.png") no-repeat center / 100% 100%;
}
.bannerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.bannerBox h1{
    font-size: 48px;
    width: 60%;
    line-height: 68px;
}
.bannerBox p{
    font-size: 16px;
    width: 50%;
}


/* Main styles */

/* Section_1 styles */
.section_1{
    padding: 80px 0;
    background-color: rgba(13, 19, 33, 0.02);
    width: 80%;
    margin: 0 auto 90px;
}
.section_1_core{
    width: 100%;
    margin: 0 auto;
}
.section_1_core h2, .section_2 h2, .section_3 h2, .section_4 h2{
    margin-bottom: 24px;
}
.section_1_core p{
    width: 70%;
    margin: 0 auto 48px;
}
.section_1_box{
    width: 80%;
    margin: 0 auto;
}
.why, .whyReverse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    margin-bottom: 32px;
}
.why{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.whyReverse{
    flex-direction: row-reverse;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.whyText h3{
    text-align: left;
    width: 50%;
    line-height: 30px;
}
.whyText p{
    text-align: left;
    width: 70%;
    margin: 16px 0 32px;
}

/* Section_2 styles */
.section_2{
    margin-bottom: 151px;
}
.section_2 p, .section_3 p, .section_4 p{
    width: 55%;
    margin: 0 auto 48px;
}
.youtubeBox{
    padding: 2% 0;
    width: 80%;
    margin: 0 auto 90px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/* .iframe-container{
    position: relative;
    margin: 0 auto;
    width: 95%;
    overflow: hidden;
    padding-bottom: 56.25%;
    border-radius: 16px;
}
.frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
} */
.iframe-container{
    width: 95%;
    aspect-ratio: 16/9;
    margin: 0 auto;
}
.frame{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Section_3 styles */
.section_3{
    margin-bottom: 111px;
}
.section_3_box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
.currentTarget{
    padding: 4%;
    border-radius: 16px;
}
.currentTarget h4{
    margin: 24px 0 0;
    font-weight: 800;
    font-size: 24px;
}
.currentTarget p, .nextTarget p{
    text-align: left;
    margin: 8px 0 24px;
    width: 100%;
}
.currentTarget a, .nextTarget a{
    color: black;
    font-weight: 700;
}
.bg_1{
    background-color: rgba(255, 76, 30, 0.05);
}
.bg_2{
    background-color: rgba(0, 76, 232, 0.05);
}
.bg_3{
    background-color: rgba(255, 223, 0, 0.05);
}

/* Section_4 styles */
.section_4{
    margin-bottom: 50px;
}
.nextTarget{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 76%;
    margin: 0 auto 24px;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
}
.nextTarget h4{
    font-weight: 800;
    font-size: 24px;
}

/* Section_5 styles */
.section_5{
    width: 76%;
    margin: 0 auto 80px;
    padding: 3% 2%;
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("../assets/handshake.jpg") center / cover no-repeat;
}
.section_5 h2{
    font-size: 32px;
    color: white;
}
.section_5 p{
    color: rgba(255, 255, 255, 1);
    margin: 16px auto 24px;
    width: 50%;
}
.section_5 form{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.section_5 .inputText{
    color: rgba(13, 19, 33, 0.4);
    border: 1px solid rgba(13, 19, 33, 0.15);
    width: 40%;
    border-radius: 8px;
    font-family: inherit;
    padding-left: 2%;
}

/* Footer styles */
.footerBox{
    margin: 0 auto;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
}
.footerBox h2{
    font-size: 20px;
}
.socialLinks{
    display: flex;
    gap: 24px;
}


/* Media queries for Responsive Design */

/* Small Device Responsiveness */
@media screen and (max-width: 576px) {
    /* Common styles */
    .primaryBtn_1{
        padding: 10px 15px;
        font-size: 18px;
    }
    .learnBtn{
        padding: 10px 12px;
    }
    p{
        line-height: 20px;
    }

    /* Navbar */
    nav{
        margin-top: 20px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }

    /* Banner styles */
    .banner{
        background: url("../assets/Hero-bg.png") no-repeat center / cover;
    }
    .bannerBox{
        gap: 20px;
    }
    .bannerBox h1{
        font-size: 40px;
        width: 60%;
        line-height: 48px;
    }

    /* section_1 styles */
    .section_1{
        padding: 30px 0 10px;
        margin-bottom: 30px;
    }
    .section_1_core h2{
        padding: 0 5%;
    }
    .why, .whyReverse{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-bottom: 10px;
        width: calc(100% - 50px);
        text-align: center;
    }
    .why{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .whyReverse{
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
    .whyImg img{
        width: calc(100% - 50px);
    }
    .whyText h3, .whyText p{
        width: 100%;
    }

    /* Section_2 styles */
    .section_2{
        margin-bottom: 50px;
    }
    .youtubeBox{
        margin: 0 auto 50px;
    }

    /* Section_3 styles */
    .section_3{
        margin: 50px 0;
    }
    .section_3_box{
        flex-direction: column;
    }
    
    /* Section_4 styles */
    .nextTarget{
        flex-direction: column;
        align-items: flex-start;
        padding: 4%;
        width: 72%;
    }

    /* Section_5 styles */
    .section_5{
        margin-bottom: 50px;
    }
    .section_5 h2{
        font-size: 25px;
    }
    .section_5 p{
        margin: 12px auto 20px;
        width: 100%;
    }
    .section_5 form{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .section_5 .inputText{
        width: 80%;
        height: 45px;
        padding-left: 5%;
        font-size: 12px;
    }
    
    /* Footer styles */
    .footerBox{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    footer{
        margin-bottom: 20px;
    }
    footer h2{
        text-align: center;
    }
}

/* Medium Device Responsiveness */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* Navbar styles */
    nav{
        margin-top: 30px;
        align-items: center;
        gap: 40%;
    }
    nav h1{
        font-size: 25px;
    }

    /* Banner styles */
    .banner{
        margin-top: 30px;
        padding: 30px 0 40px;
        background: url("../assets/Hero-bg.png") no-repeat center / cover;
    }

    /* section_1 styles */
    .section_1{
        padding: 50px 0 20px;
        margin-bottom: 70px;
    }
    .section_1_core h2{
        padding: 0 5%;
    }
    .why, .whyReverse{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-bottom: 20px;
        width: calc(100% - 40px);
        text-align: center;
    }
    .why{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .whyReverse{
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
    .whyImg img{
        width: calc(100% - 40px);
    }
    .whyText h3, .whyText p{
        width: 100%;
    }

    /* section_2 styles */
    .section_2 {
        margin-bottom: 50px;
    }

    /* section_5 styles */
    .section_5 .inputText{
        width: 50%;
        padding-left: 5%;
    }

    /* Footer styles */
    .footerBox{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    footer{
        margin-bottom: 20px;
    }
    footer h2{
        /* text-align: center; */
    }
}

